table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid lightblue;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}

tr:nth-child(1) {
  font-weight: bold;
  background-color: lightblue;
}
